<ion-view view-title="Contact Details">
  <ion-content padding="true">
    <div class="list" ng-repeat="card in cards">

      <div class="list" padding="true">
        <li class="dark">
          <br>
        <div class="circle-image-container">

          <a><img ng-src="{{card.imge}}" class="center"></a>

        </div><br>

        <a class="center"><label>{{card.name}}</label></a>
        <a class="center"><label>{{card.position}}</label></a>
        <a class="center"><label>{{card.company}}</label></a>
        <br>
        </li>
      </div>


      <p> Contact Information</p>
      <div class="list" >
        <label class="item item-input">
          <span class="input-label">Mobile</span>
            <a><label>{{card.mobile}}</label><i class="icon ion-ios-telephone-outline right"></i></a>
        </label>
        <label class="item item-input">
          <span class="input-label">Office Tel</span>
            <a><label>{{card.officeNo}}</label></a>
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
            <a><label>{{card.email}}</label></a>
        </label>
      </div>

      <p>Work Information</p>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Department</span>
            <a><label>{{card.department}}</label></a>
        </label>
        <label class="item item-input">
          <span class="input-label">Address</span>
            <a><label>{{card.address}}</label></a>
        </label>
          <label class="item item-input">
            <span class="input-label">Website</span>
            <a><label>{{card.website}}</label></a>
          </label>
      </div>

      <p>Group</p>
      <div class="list">
        <label class="item item-input">
          <div class="input-label">Group</div>
          <a><label>{{card.grp}}</label></a>
        </label>
      </div>

    </div>
  </ion-content>
</ion-view>
