<ion-view view-title="Home">
  <ion-content id="fhm_page">
      <div class="fhm_container">
        <div class="fhm_row">
          <div class="fhm_item1">
              <a href="#/app/profiledetails"><img src="img/menu1.jpg"/></a>
          </div>
        </div>

        <div class="fhm_row">
          <div class="fhm_item2">
            <a href="#/app/viewProfile"><img src="img/menu2.jpg"/></a> 
          </div>
        </div>

        <div class="fhm_row">
          <div class="fhm_item3">
            <img src="img/menu3.jpg"/>
          </div>
        </div>

        </div>

    </ion-content>
</ion-view>
